<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
</head>

<body>
    <h1>Search Name Page</h1>
    <%- include ("partials/nav.ejs") %>

        <br>

        <div class="container">
        <h2>Search Results</h2>

        <div id="sResults">
            <div>Name: <%= data[0].name %>
            </div>
            <div>Gender : <%= data[0].gender %>
            </div>
            <div>Related Names: <%= data2.names %>
        </div>
        </div>
        </div>
        <br>

        


        <%- include ("partials/footer.ejs") %>
</body>

</html>